.about-me {
  height: 800px;
  width: 100%;
  background-color: #f9f5f1;
  color: black;
  text-align: left;
}

.about-me p{
  width: 70%;
  margin-left: 50px;
  font-size: 60px;
  font-family: 'Roboto Slab', serif;

}
