
.home {
  height: 100%;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.home main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}



/*
name */

.name-jeu {
  width: 600px;
  height: 400px;
  fill: #f9f5f1;
}


/* .name-jeu path{
  fill: none;
  stroke: #f9f5f1;
  stroke-dasharray:1646;
  animation: write-the-text 10s linear;
}

@keyframes write-the-text {
  0% { stroke-dashoffset:1646; }
  20% { stroke-dashoffset:1646; }

} */
